{% extends "myapp/base.html" %}
<title>Online Store APP - {% block title %}Welcome{% endblock %}</title>
{% block body_block %}
    {% if prodlist %}
 <h2>List of Products</h2>
     <ol>
 {% for item in prodlist %}
     <p> Category:{{ item.category}} </p>
     <p> Name:<a href="{%url 'productdetail' item.id%}">{{ item.name}}</a> </p>
     <p> Price:{{ item.price}} </p>

 {% endfor %}
     </ol>

 {% else %}
 <strong>There are no available categories!</strong>
 {% endif %}
<p><a href="{%url 'order'%}">Place_Order</a></p>
 {% endblock %}