<!DOCTYPE html>
<html>
<body>
     <form action="" method="post">
     {% csrf_token %}
{#        <label for="username">User name:</label>#}
{#        <input type="text" name="username" value="" id="username">#}
{#        <label for="password">Password:</label>#}
{#        <input type="password" name="password" value="" id="password">#}
{#        <input type="submit" value="login" />#}
{#         already use the UserCreationForm function in the views#}
         {{ form.as_p }}
         <button type="submit">Register</button>
     </form>
</body>
 </html>